body{
    background-color: gold;
    color: rgb(0, 0, 0);
}
strong{
    color: brown;
}
h1{
    margin: 20 px ;
    padding: 10 px;
    text-align: center;
    font-size: 36 px;
    color: brown;
}
img{
position: absolute;
top: 50px;
left: 100 px;
}
